<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for sort_state in states|sort(attribute='name') %}
            <LI>{{sort_state.id}}: <B>{{ sort_state.name }}</B>
                <UL>
                    {% for sort_city in states.cities|sort(attribute='name') %}
                        <LI>{{sort_city.id}}: <B>{{ sort_city.name }}</B></LI>
                    {% endfor %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
